//--------project settings----------//
//breakpoints
$Breakpoints: (xs:320px, sm:576px, md:768px, lg:992px, xl:1100px,xll:1440px);

//-----body settings-----//
$color:#000;
$font-weight:400;
$min-width:320px;
$font-family: "Sfuid";

// color
$colorMain:#FD665E;
$secondary:#585858;

