.btn {
	@include size(100px,50px);
	
	@include font(14px,1.2,600,center);
	color: #FFFFFF;
	position: relative;

	background-color: $colorMain;
	border-radius: 4px;
		@include media(min,$lg){
			transition: background-color 500ms ease,color 500ms ease, border 500ms ease;
		}
}
	.btn:hover{
		@include media(min,$lg){
			border: 1px solid $secondary;
			color: $secondary;
			background-color: transparent;
		}
	}
