.footer {
	height: 210px;
}

.footer__wrapper {
	height: 100%;
	@include flex-a-j(center,space-between);
		@include media(max,$md){
			flex-direction:column;
		}
}

.footer__list {
	display: flex;
		@include media(max,$md){
			margin-bottom: 25px;
		}
		@include media(max,500px){
			flex-direction:column;
			margin-bottom: 0;
		}
}

.footer__item:not(:last-child) {
	margin-right: 48px;
		@include media(max,500px){
			margin: 0 auto;
			margin-bottom: 15px;
		}
}

.footer__link {
	display: block;
	@include font(12px,1.3,600,center);
	color: $secondary;
}

