.header {
	height: 96px;
	@include media(max,sm){
		height: 200px;
	}
}

.container {
	@extend %container;
}

.header__row {
	height: 100%;
	@include flex-a-j(center,space-between);

	@include media(max,sm){
		@include flex-a-j-d(center,center,column);
	}
}

.header__logo{
	margin-right: 38px;
	@include media(max,lg){
		margin: 0 10px 0 0;
	}
	
	@include media(max,sm){
		margin: 10px 0;
	}
}

.logo{
	fill: $colorMain;
	transition: fill 500ms ease;

	@include media(max,sm){
		@include size(100px);
	}
}

.logo:hover{
	fill: #da06a5;
	cursor: pointer;
}

.header__wrapper {
	display: flex;
	align-items: center;
}

.header__menu{
	@include media(max,lg){
		visibility: hidden;
		opacity: 0;
		@include size(100%);

		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		transform: translateX(-101%);

		background-color: rgb(71, 5, 16);
		transition:opacity 500ms ease, transform 500ms ease,visibility 500ms ease;
	}
}

.header__menu.active{
	visibility: visible;
	opacity: 1;
	transform: translateX(0%);
}

.header__list {
	display: flex;
	@include media(max,lg){
		@include flex-a-j-d(center,center,column);
		height: 100%;
	}
}

.header__item:not(:last-of-type) {
	margin: 0px 48px 0px 0;
	@include media(max,lg){
		margin: 0px 0 40px 0;
	}
}

.header__link {
	display: block;
	position: relative;

	@include font(14px,1.2,false,center);
	color: $secondary;

	overflow: hidden;
	transition: color 500ms ease;
	cursor: pointer;

	@include media(max,lg){
		font-size: 40px;
	}
}


.header__link:hover{
	color: $colorMain;
}

.header__link::after,
.header__link::before{
	content:'';
	@include size(50%,2px);
	position:absolute;
	bottom:0;
	left:0;
	transform: translateX(250%);
	background-color: $colorMain;
	transition: transform  500ms ease;
}

.header__link:hover:before{
	transform: translateX(100%);
}
.header__link::after{
	transform: translateX(-200%);
}
.header__link:hover:after{
	transform: translateX(0%);
}

.header__buttons {
	@include flex-a-j(center,center);
}

.header__Search {
	margin-right: 15px;
	fill: $secondary;
	transition: fill 500ms ease;
}

.header__Search:hover{
	fill: $colorMain;
}

.btn {
	@include size(100px,50px);
	
	@include font(14px,1.2,600,center);
	color: #FFFFFF;
	position: relative;

	background-color: $colorMain;
	border-radius: 4px;
	transition: background-color 500ms ease,color 500ms ease, border 500ms ease;
}

.btn:hover{
	border: 1px solid $secondary;
	color: $secondary;
	background-color: transparent;
}

.header__btn {
	margin-right: 15px;
	background-color: transparent;
	color: $secondary;
	transition: color 500ms ease ,background-color 500ms ease ;
}

.header__btn:hover + .btn{
	border: 1px solid $secondary;
	color: $secondary;
	background-color: transparent;
}

.header__btn:hover{
	border: transparent;
	color: #FFFFFF;
	background-color: $colorMain;
}

