.partners__container{
	padding: 64px 0 104px 0;
	@include media(max,$lg){
		padding: 32px 0 64px 0;
	}
}

.partners__title {
	margin-bottom: 56px;
	@include media(max,$lg){
		text-align: center;
	}
}

.partners__wrapper {
	display: flex;
	align-items: flex-end;
}

.partners__wrapper {
	@include flex-a-j(flex-end,space-between);
		
		@include media(max,$lg){
			flex-direction:column;
			align-items: center;
		}
}

.partners__img {
	margin-bottom: 25px;
}