.review {
	padding: 64px 0;
	@include media(max,$lg){
		padding: 32px 0;
	}
}

.review__title {
	max-width: 375px;
	margin-bottom: 20px;
		@include media(max,$md){
			margin: 0 auto 30px auto;
			text-align: center;
		}
}

.review__article {
	max-width: 855px;
	margin-left:auto;
	padding: 20px 0 0 100px;
	position: relative;
		@include media(max,$md){
			padding-left: 0px;
			text-align: center;
		}
}
	.review__article::before{
		content:'';
		@include size(100%);
		position:absolute;
		top:0;
		left:0;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='58' height='41' viewBox='0 0 58 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.5312 0.992188C12.0859 2.89062 0.765625 12.1719 0.765625 25.3906C0.765625 34.5312 6.03906 40.7188 13.6328 40.7188C21.6484 40.7188 26.3594 33.8984 26.3594 25.5312C19.6797 25.25 15.1094 21.1016 15.1094 15.1953C15.1094 9.35938 19.5391 5.49219 25.6562 4.22656L24.5312 0.992188ZM55.9609 0.992188C43.5156 2.89062 32.1953 12.1719 32.1953 25.3906C32.1953 34.5312 37.4688 40.7188 45.0625 40.7188C53.0781 40.7188 57.7891 33.8984 57.7891 25.5312C51.1094 25.25 46.4688 21.1016 46.4688 15.1953C46.4688 9.35938 50.8984 5.49219 57.0156 4.22656L55.9609 0.992188Z' fill='%23FD665E'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		@include media(max,$md){
			display: none;
		}
	}

.review__text {
	margin-bottom: 60px;
	@include font(32px,1.6,300);
		@include media(max,$md){
			margin-bottom: 40px;
			font-size: 26px;
		}
}


.review__name {
	@include font(16px,1.6);
	font-style: normal;
}

.review__strong {
	font-weight: 700;
}