.room {
	padding: 64px 0;
}

.room__title {
	max-width: 535px;
	margin: 0 auto 40px auto;
	text-align: center;
}

.room__wrapper {
	display: grid;
	grid-template-columns: repeat(3,340px);
	justify-content: center;
	gap: 45px;
		@include media(max,$xl){
			grid-template-columns: repeat(2,340px);
		}
		@include media(max,$md){
			grid-template-columns: repeat(2,250px);
			gap: 25px;
		}
		@include media(max,$sm){
			grid-template-columns: repeat(1,340px);
		}
}

.roow__column {
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
	.roow__column:not(:first-child) {
		@include media(max,$sm){
			display: none;
		}
	}
	.roow__column:hover .room__img{
		transform: rotate(15deg) scale(1.3);
	}

	.roow__column:hover .room__icon{
		fill-opacity: 1;
	}

	.roow__column:hover .room__bg{
		opacity: 0.4;
	}

.room__img{
	transition: transform 500ms ease;
}

.room__bg{
	@include size(100%);
	position:absolute;
	top:0;
	left:0;
	background-color: #000;
	opacity: 0;
	transition: opacity 500ms ease;
}

.room__icon {
	@include size(30px);
	@include center(xy);
	z-index: 1;
	fill-opacity:0;
	fill: #fff;
	transition: fill-opacity 500ms ease , fill 500ms ease;
}
	.room__icon:hover{
		fill: $colorMain;
	}