<section class="archmove">
	<div class="containerTwo">
		<h2 class="archmove__title title">Build your needs with Archmove</h2>

		<div class="archmove__wrapper">

			<img class="archmove__img" src=" <?php echo IMAGES_DIR;?>archmove/img.jpg" alt="tovar">

			<div class="archmove__column">

				<div class="archmove__caption">
					<h5 class="archmove__caption-title">100% guaranteed project completion</h5>
					<p class="archmove__text text">Build safe, comfortable and transparent with a project management
						application with a joint account.</p>
				</div>

				<div class="archmove__caption">
					<h5 class="archmove__caption-title">No additional fees</h5>
					<p class="archmove__text text">There are no hidden costs. The value of the offer you get is the value you
						paid.</p>
				</div>

				<div class="archmove__caption">
					<h5 class="archmove__caption-title">Get escort from the Team</h5>
					<p class="archmove__text text">Monitor reports from the Arsitag team who check directly in the field.</p>
				</div>

				<button class="archmove__btn btn">CONSULTATION</button>

			</div>

		</div>

	</div>
</section>