<section class="home">
	<div class="containerTwo">
		<h1 class="header__title">Build Your Dream <span class="title__strong">House</span></h1>
		<div class="home__wrapper">

			<div class="home__column">
				<p class="home__text text">The first and most trusted marketplace of design & build house in The World. 100% guaranteed Build safe, comfortable and transparent with a project management for the best result</p>
				<button class="home__btn btn">Free Consultation</button>
			</div>

				<img class="home__img" src="assets/images/home/img.jpg" alt="home">

		</div>
	</div>
</section>