<section class="partners">
	<div class="partners__container containerTwo">
		<h2 class="partners__title title">Our Partners</h2>
		<div class="partners__wrapper">
			<img class="partners__img" src="assets/images/partners/icon1.svg" alt="" >
			<img class="partners__img" src="assets/images/partners/icon2.svg" alt="" >
			<img class="partners__img" src="assets/images/partners/icon3.svg" alt="" >
			<img class="partners__img" src="assets/images/partners/icon4.svg" alt="" >
			<img class="partners__img" src="assets/images/partners/icon5.svg" alt="" >
		</div>
	</div>
</section>