<section class="review">
	<div class="containerTwo">
		<h2 class="review__title title">Sound Too Good To Be True?</h2>
		<div class="swiper-container">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<article class="review__article">
						<p class="review__text">
							We just wanted to thank you for this fantastic website! We are so grateful for being able to
							advertise our Petite cabin and receive feedback from people from all over the U.S. and even
							further.
						</p>
						<cite class="review__name"><span class="review__strong"> Adam Morph </span>— CEO A lfatech</cite>
					</article>
				</div>

				<div class="swiper-slide">
					<article class="review__article">
						<p class="review__text">
							We just wanted to thank you for this fantastic website! We are so grateful for being able to
							advertise our Petite cabin and receive feedback from people from all over the U.S. and even
							further.
						</p>
						<cite class="review__name"><span class="review__strong"> Adam Morph </span>— CEO A lfatech</cite>
					</article>
				</div>

				<div class="swiper-slide">
					<article class="review__article">
						<p class="review__text">
							We just wanted to thank you for this fantastic website! We are so grateful for being able to
							advertise our Petite cabin and receive feedback from people from all over the U.S. and even
							further.
						</p>
						<cite class="review__name"><span class="review__strong"> Adam Morph </span>— CEO A lfatech</cite>
					</article>
				</div>

			</div>

			<div class="swiper__buttons">
				<div class="swiper-button-prev">
					<svg width="20" height="20" viewBox="0 0 20 20">
						<use xlink:href="./ <?php echo IMAGES_DIR;?>review/arrow.svg#arrow"></use>
					</svg>
				</div>
				
				<div class="swiper-button-next">
					<svg width="20" height="20" viewBox="0 0 20 20">
						<use xlink:href="./ <?php echo IMAGES_DIR;?>review/arrow.svg#arrow"></use>
					</svg >
				</div>
			</div>
		

		

		</div>
	</div>
</section>