<section class="room">
	<div class="containerTwo">
		<h2 class="room__title title">Build professional valuable room for you </h2>

		<div  class="room__wrapper">

			<a class="roow__column" data-fslightbox="gal" href=" <?php echo IMAGES_DIR;?>room/img1.jpg">
				<img class="room__img" src=" <?php echo IMAGES_DIR;?>room/img1.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href=" <?php echo IMAGES_DIR;?>svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>

			<a class="roow__column" data-fslightbox="gal" href=" <?php echo IMAGES_DIR;?>room/img3.jpg">
				<img class="room__img" src=" <?php echo IMAGES_DIR;?>room/img3.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href=" <?php echo IMAGES_DIR;?>svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>

			<a class="roow__column" data-fslightbox="gal" href=" <?php echo IMAGES_DIR;?>room/img5.jpg">
				<img class="room__img" src=" <?php echo IMAGES_DIR;?>room/img5.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href=" <?php echo IMAGES_DIR;?>svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>

			<a class="roow__column" data-fslightbox="gal" href=" <?php echo IMAGES_DIR;?>room/img6.jpg">
				<img class="room__img" src=" <?php echo IMAGES_DIR;?>room/img6.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href=" <?php echo IMAGES_DIR;?>svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>

			<a class="roow__column" data-fslightbox="gal" href=" <?php echo IMAGES_DIR;?>room/img1.jpg">
				<img class="room__img" src=" <?php echo IMAGES_DIR;?>room/img1.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href=" <?php echo IMAGES_DIR;?>svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>

			<a class="roow__column" data-fslightbox="gal" href=" <?php echo IMAGES_DIR;?>room/img3.jpg">
				<img class="room__img" src=" <?php echo IMAGES_DIR;?>room/img3.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href=" <?php echo IMAGES_DIR;?>svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>
		</div>

	</div>
</section>