<section class="room">
	<div class="containerTwo">
		<h2 class="room__title title">Build professional valuable room for you </h2>

		<div  class="room__wrapper">

			<a class="roow__column" data-fslightbox="gal" href="./../../assets/images/room/img1.jpg">
				<img class="room__img" src="./../../assets/images/room/img1.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href="assets/images/svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>

			<a class="roow__column" data-fslightbox="gal" href="./../../assets/images/room/img3.jpg">
				<img class="room__img" src="./../../assets/images/room/img3.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href="assets/images/svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>

			<a class="roow__column" data-fslightbox="gal" href="./../../assets/images/room/img5.jpg">
				<img class="room__img" src="./../../assets/images/room/img5.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href="assets/images/svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>

			<a class="roow__column" data-fslightbox="gal" href="./../../assets/images/room/img6.jpg">
				<img class="room__img" src="./../../assets/images/room/img6.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href="assets/images/svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>

			<a class="roow__column" data-fslightbox="gal" href="./../../assets/images/room/img1.jpg">
				<img class="room__img" src="./../../assets/images/room/img1.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href="assets/images/svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>

			<a class="roow__column" data-fslightbox="gal" href="./../../assets/images/room/img3.jpg">
				<img class="room__img" src="./../../assets/images/room/img3.jpg" alt="">
				<svg class="room__icon" viewBox="0 0 15 15">
					<use xlink:href="assets/images/svg/sprite.svg#Search"></use>
				</svg>
				<div class="room__bg"></div>
			</a>
		</div>

	</div>
</section>