/*-variable-*/
@import "abstracts/variable/variable";

/*-mixins-*/
@import "abstracts/mixins/mixins";

/*-elements-*/
@import "abstracts/elements/elements";

/*-base-*/
@import "base/fonts";
@import "base/nullstyle";

/*-Bem-*/
@import "bem/_container.scss";
@import "bem/_title.scss";
@import "bem/_text.scss";

/*-components-*/
@import "components/_burger.scss";
@import "components/_logo.scss";
@import "components/_btn.scss";

/*-Header-*/
@import "layout/header";

/*-Content-*/
@import "layout/home";
@import "layout/room";
@import "layout/archmove";
@import "layout/review";

/*-footer-*/
@import "layout/footer";











